body {
  margin: 0;
  overflow: hidden;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

/* --- Popup --- */
#popup {
  display: none; /* Oculto al inicio */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* 🎨 Fondo glassmorphism */
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  
  color: #fff;
  padding: 40px;
  border-radius: 50px;
  
  /* Borde  */
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  /* Sombra  */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  
  z-index: 9999; /* Encima del canvas */
  max-width: 320px;
  text-align: center;
  
  animation: fadeIn 0.3s ease-in-out;
}


/* simbolo de "x"  (xd) */
#popup .close {
  position: relative;
  top: 10px;   /* distancia desde arriba */
  right: 10px; /* distancia desde la derecha */
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  margin: auto;
}

/* Título */
#popup h2 {
  font-size: 1.4rem;
  margin: 40px 0 10px; /* deja espacio arriba por la X */
}

/* Imagen */
#popup img {
  max-width: 100%;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* Descripción */
#popup p {
  font-size: 1rem;
  opacity: 0.9;
  margin: 20;
  color:rgb(255, 255, 255)
}